---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <div class="flex flex-wrap gap-2">
      {tags.map((tag) => (
        <span class="chip">{tag.startsWith('#') ? tag : `#${tag}`}</span>
      ))}
    </div>
  )
}
